/* @import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

body {
  background-color: rgb(78, 93, 110);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: aliceblue;
  /* font-family: 'Kalam', cursive; */
  font-family: 'Girassol', cursive;
}

span{
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-overflow: ellipsis;
  word-wrap: normal;
}

h2{
  text-align: center;
  margin: 0;
  border-bottom: 5px solid #fff;
  border-width: medium;
}


.button{
  width: 70%;
  /* height: 50%; */
  cursor: pointer;
  float: center;
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  padding: 5%;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  /* padding: .375rem .75rem; */
  font-size: 1.09rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin: auto;
}

.container{
    display: inline-flex;
    align-items: center;
    width: 90%;
    justify-content: center;
    margin-top: 3%
}

.sub-container{
  display: inline-grid;
}

input{
  background-color: aliceblue;
    margin-right: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
    /* top: 5px; */
    border: 1px solid;
    border-radius: 5px;
    font-size: 20px;
}

.role{
  align-items: center;
  width: 90%;
  justify-content: center;
  margin: auto;
  margin-left: 20%;
  margin-top: 10%;
}
.btn-light {
  margin-right: 2%;
  font-size: large;
}

.btn-dark{
  font-size: large;
}
.row{
  margin-left: 40%;
  margin: auto;
}
.cross{
  color: red;
}
.check{
  color: lawngreen;
}
.col-md-3{
  flex: 0 0 40%;
  max-width: 40%;
}