@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

body {
  background-color: rgb(78, 93, 110);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: aliceblue;
  font-family: 'Kalam', cursive;
  font-family: 'Girassol', cursive;
}

span{
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-overflow: ellipsis;
  word-wrap: normal;
}

h2{
  text-align: center;
  margin: 0;
  border-bottom: 5px solid #fff;
}

input{
  background-color: antiquewhite;
}

.button{
  width: 70%;
  /* height: 50%; */
  cursor: pointer;
  float: center;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  border-radius: 3%;
  font-size: medium;
}

.container{
    display: inline-flex;
    align-items: center;
    width: 90%;
    justify-content: center;
}

.sub-container{
  display: inline-grid;
}

input{
  background-color: antiquewhite;
    margin-right: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
    /* top: 5px; */
    border: 1px solid;
    border-radius: 5px;
    font-size: 20px;
}