<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="../../css/styles.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <button class="tablink" onclick="openPage('Customer', this, 'red'); " id="defaultOpen">Customer</button>
  <button class="tablink" onclick="openPage('Service', this, 'red'); ">Service Point</button>
  <!-- <button class="tablink" onclick="openPage('About', this, 'green')">Service Point</button> -->

  <div id="Customer" class="tabcontent">
    <div class="container">
      <div class="car_form" id="searchVIN">
        <div>
          <label><strong>Enter Car VIN: </strong></label>
          <input type="number" name="id" id="input_VIN" required="">
        </div>
        <div>
          <button class="btn btn-primary" onclick="searchVIN()">Check Car Health</button>
          <button class="btn btn-primary" onclick="ClearForm()">Clear</button>
        </div>
      </div>
    </div>
  </div>

  <div id="Service" class="tabcontent">
    <div class="container">
      <div class="car_form" id="serviceVIN">
        <div>
          <label><strong>Enter Car VIN to be serviced: </strong></label>
          <input type="number" name="id" id="service_VIN" required="">
        </div>
        <div>
          <button class="btn btn-primary" onclick="serviceVIN()">Service this Car</button>
          <button class="btn btn-primary" onclick="ClearForm()">Clear</button>
        </div>
      </div>
    </div>
  </div>

  <span id="error_message" style="color: red; margin-left: 50%; text-align: center;"></span>
  <div class="container" id="carInfoContainer">
    <span id="condition_message"></span>
    <div class="table-responsive" id="carTable">
      <h2>CAR DETAILS</h2>
      <table class="table table-bordered table-striped">
        <tr>
          <th>CarId</th>
          <th>MilesTraveled</th>
          <th>AverageSpeed</th>
          <th>CarLifeSpaninYear</th>
          <th>LastServiceDat</th>
          <th>MilesDuringLastService</th>
          <th>MilesBetweenServices</th>
          <th>EngineId</th>
          <th>EngineManufactureDate</th>
          <th>EngineLifeSpaninYears</th>
          <th>EngineLifeSpaninPercentage</th>
          <th>DaysSinceEngineLastService</th>
          <th>EngineDaysOld</th>
          <th>AirFilterDaysOld</th>
          <th>FuelFilterDaysOld</th>
          <th>BrakeFluidDaysOld</th>
          <th>CoolantDaysOld</th>
          <th>DaysSinceGearBoxLastService</th>
          <th>BatteryDaysOld</th>
          <th>TransmissionFluidDaysOld</th>
          <th>TransmissionFluidTemperature</th>
          <th>BatteryTemperature</th>
          <th>EngineSparkPlugType</th>
          <th>CableMilesUsed</th>
          <th>TimingBeltMilesUsed</th>
          <th>EngineSparkPlugMilesUsed</th>
          <th>PowerSteeringFluidMilesUsed</th>
          <th>HosesMilesUsed</th>
          <th>ClutchPlateMilesUsed</th>
          <th>TransmissionFluidMilesUsed</th>
          <th>CoolantMilesUsed</th>
          <th>BrakeRotersMilesUsed</th>
          <th>BrakeFluidMilesUsed</th>
          <th>EngineServiceNeeded </th>
          <th>AirFilterServiceNeeded </th>
          <th>FuelFilterServiceNeeded </th>
          <th>BrakeFluidServiceNeeded </th>
          <th>BrakePadServiceNeeded </th>
          <th>BrakeRotersServiceNeeded </th>
          <th>CoolantServiceNeeded </th>
          <th>TransmissionFluidServiceNeeded </th>
          <th>GearBoxServiceNeeded </th>
          <th>ClutchPlateServiceNeeded </th>
          <th>HosesServiceNeeded </th>
          <th>PowerSteeringServiceNeeded </th>
          <th>EngineSparkPlugServiceNeeded </th>
          <th>TimingBeltServiceNeeded</th>
          <th>CabelServiceNeeded </th>
          <th>BatteryServiceNeeded </th>
          <th>CarServiceNeeded </th>
          <th>Serviced</th>

        </tr>
        <tbody id="carTbody"></tbody>
      </table>
    </div>

    <div class="car_condition" id="carCondition">
      <div id="condition_cases"></div>
    </div>
  </div>

  <script src="./js/main.js"></script>
</body>

</html>